<div id="lists-container" class="container">

    <h3>Listes des courses archivées</h3>
    <hr>
    <div id="list-block">
        <div class="row">
            <b><div class="col s5">Magasin</div>
                <div class="col s5">Date</div>
                <div class="col s1">Suppression</div></b>
        </div>

        <div id="lists-body">

        </div>
    </div>

<!-- Modal Structure -->
<div id="modal-histo-list" class="modal">
    <div class="modal-histo-content">
        <h4 id="modal-histo-title"></h4>
        <hr style="margin: 5px;">
        <div class="row">
            <b><div class="col s2">Acheter</div>
                <div class="col s4">Quantité</div>
                <div class="col s6">Label</div></b>
        </div>
        <div id="modal-histo-body" class="row">
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">Quitter</a>
        </div>
    </div>
</div>