<div id="items-list-container" class="container">

    <h3 id="title-item-list">Articles de la liste</h3>
    <hr>
    <div id="list-block">
        <div class="row">
            <b><div class="col s1">Acheter</div>
                <div class="col s2">Quantité</div>
                <div class="col s7">Label</div>
                <div class="col s2">Actions</div></b>
        </div>

        <div id="list-item-body">

        </div>
    </div>
    <div class="row">
        <div class="input-field col s5">
            <input id="input-item-quantite" type="number" min="1"><label for="input-item-quantite" class="validate">Quantité</label>
        </div>
        <div class="input-field col s5">
            <input id="input-item-label" type="text"><label for="input-item-label" class="validate">Label</label>
        </div>
        <a id="btn-valid-ajout-item" class="waves-effect waves-light btn icon-add" onclick="listController.ajouterItem()"><i class="material-icons left">add</i>Ajouter</a>
    </div>
</div>


<!--<a class="waves-effect waves-light btn icon-add" onclick="navigate="><i class="material-icons left">add</i>Ajouter</a>-->

<!-- Modal Structure -->
<div id="modal-modif-item" class="modal">
    <div class="modal-content">
        <h4 id="modal-title">Modification d'un item</h4>
        <div class="row">
            <div class=" col s2">
                <label for="input-item-modif-quantite" class="validate">Quantité</label><input id="input-item-modif-quantite" type="number" min="1" class="input-field">
            </div>
            <div class="col s1"></div>
            <div class=" col s5">
                <label for="input-item-modif-label" class="validate">Label</label><input id="input-item-modif-label" type="text">
            </div>
        </div>
        <div class="modal-footer">
            <a id="btn-valid-modif-item" class="waves-effect waves-light btn" onclick="listController.updateItem()"><i class="material-icons left">check</i>Valider</a>
            <a class="modal-close waves-effect waves-teal btn-flat">Quitter</a>
        </div>
    </div>
</div>