<div class="container-login">
    <div class="container-connexion">
        <h5>Connexion</h5>
        <div class="input-field col s5">
            <input id="inputMail" type="text"><label for="inputMail" class="validate">Adresse e-mail</label>
        </div>
        <div class="input-field col s5">
            <input id="inputPass" type="password"><label for="inputPass" class="validate">Mot de Passe</label>
        </div>
        <a id="btnAdd" class="waves-effect waves-light btn" onclick="loginController.authenticate()"><i class="material-icons left">arrow_forward</i>Connecter</a>
    </div>
</div>