<div id="lists-container" class="container">

    <h3>Listes de courses partagées avec moi</h3>
    <hr>
    <div id="list-block">
        <div class="row">
            <b>
                <div class="col s3">Propriétaire</div>
                <div class="col s4">Magasin</div>
                <div class="col s4">Date</div>
                <div class="col s1">Actions</div></b>
        </div>

        <div id="lists-body">

        </div>
    </div>
</div>

<!-- Modal Structure Pour la modification de liste -->
<div id="modal-modif-list" class="modal">
    <div class="modal-content">
        <h4 class="modal-title">Modification d'une liste</h4>
        <div class="row">
            <div class="col s5">
                <label for="inputMagasinModif" class="validate">Magasin</label><input id="inputMagasinModif" type="text" class="input-field">
            </div>
            <div class="col s1"></div>
            <div class=" col s5">
                <label for="inputDateModif" class="validate">Date</label><input id="inputDateModif" type="text" class="datepicker" readonly>
            </div>
        </div>
        <div class="modal-footer">
            <a id="btn-valid-modif" class="waves-effect waves-light btn" onclick="partageController.updateCourse()"><i class="material-icons left">check</i>Valider</a>
            <a class="modal-close waves-effect waves-teal btn-flat">Quitter</a>
        </div>
    </div>
</div>