<div class="container-login">
    <div class="container-connexion">
        <h5>Réinitialisation du mot de passe</h5>
        <hr>
        <div class="input-field col s5">
            <i class="material-icons prefix">lock</i>
            <input id="input-reinit-pass" type="password">
            <label for="input-reinit-pass" class="validate">Mot de Passe</label>
        </div>
        <div class="input-field col s5">
            <i class="material-icons prefix">lock</i>
            <input id="input-reinit-pass-bis" type="password">
            <label for="input-reinit-pass-bis" class="validate">Répéter le mot de Passe</label>
        </div>
        <div class="row"><a id="btnAdd" class="waves-effect waves-light btn btn-right" onclick="reinitialisationController.validate();"><i class="material-icons left">check</i>Valider</a></div>
    </div>
</div>